{
  "extends": "airbnb-base",
  "env": {
    "browser": false,
    "mocha": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "max-len": "off",
    "semi": ["off", "always"],
    "no-console": "off",
    "strict": ["error", "global"]
  }
}
